<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=ALIN\SQLEXPRESS;Initial Catalog=Supermarket;Integrated Security=True;" name="myConStr"/>
  </connectionStrings>
 <appSettings>
    <add key="AdaosComercial" value="20" />
  </appSettings>
</configuration>